<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synch4j.execute2.dao.Synch4jExportMapper">

	<select id="getExportMainLog"  resultType="com.synch4j.po.SynchMainLogPO">
		select * from P#SYNCH_T_MAINLOG where direction='O' order by dbversion desc
	</select>	
	
	<select id="getExportDetail"  resultType="com.synch4j.po.SynchExpLogPO">
		select * from P#SYNCH_T_EXPORTLOG where logId=#{logId} order by dbversion desc
	</select>	
	
</mapper>
