<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.synch4j.execute.dao.Synch2ConfigMapper">
	<select id="getSynchSettingList" resultType="map">
		SELECT B.PHYSDBNAME,
		       B.TABLENAME,
		       B.BIGDATA,
		       A.SYNCHORDER,
		       A.SYNCHCONDITION,
		       A.SYNCHEDHANDLER,
		       A.SYNCHRECOGCOL,
		       A.TABLETYPE,
		       A.PKCOL,
		       A.NETTYPE,
		       A.REMARK,
		       A.FILTERCOL,
		       (CASE
		         WHEN A.PHYSDBNAME IS NULL THEN
		          '0'
		         ELSE
		          '1'
		       END) ISSYNCH
		  FROM P#SYNCH_T_SETTING A
		 RIGHT JOIN SYNCH_V_USERTABLE B
		    ON A.PHYSDBNAME = B.PHYSDBNAME
		     WHERE 1 = 1
		     <if test="physDBName != null">
				AND B.PHYSDBNAME LIKE '%${physDBName}%'     
		     </if>
        	 <if test="tableName != null">
        	 	 AND B.TABLENAME LIKE '%${tableName}%'
        	 </if>
		    ORDER BY A.SYNCHORDER, B.PHYSDBNAME,A.REMARK
	</select>
	
	<select id="getTableColumnList" parameterType="string" resultType="string">
		<![CDATA[SELECT COLUMN_NAME
		  FROM USER_TAB_COLUMNS
		 WHERE DATA_TYPE NOT IN ('BLOB', 'CLOB')
		   AND TABLE_NAME = #{physDBName}
		   ORDER BY COLUMN_NAME]]>
	</select>
	
	<select id="getTableRecogColList" parameterType="string" resultType="string">
		SELECT COLUMN_NAME FROM USER_TAB_COLUMNS WHERE DATA_TYPE = 'TIMESTAMP(6)' AND TABLE_NAME = #{physDBName}
	</select>
	
	<insert id="insertSynchPO" parameterType="hashmap">
		INSERT INTO P#SYNCH_T_SETTING
		  (PHYSDBNAME, SYNCHORDER, SYNCHCONDITION, PKCOL, SYNCHEDHANDLER, SYNCHRECOGCOL, REMARK, TABLETYPE, NETTYPE,MAXROW,FILTERCOL)
		VALUES
		  (#{physDBName}, #{synchOrder}, #{synchCondition}, #{pkCol}, #{synchedHandler}, #{synchRecogCol}, #{remark}, #{tableType}, #{netType},#{maxRow},#{filterCol})
	</insert>
	
	<update id="updateSynchPO" parameterType="hashmap">
		UPDATE P#SYNCH_T_SETTING
			   SET SYNCHORDER = #{synchOrder},
			       SYNCHCONDITION = #{synchCondition},
			       PKCOL = #{pkCol},
			       SYNCHEDHANDLER = #{synchedHandler},
			       SYNCHRECOGCOL = #{synchRecogCol},
			       TABLETYPE = #{tableType},
			       MAXROW = #{maxRow},
			       FILTERCOL = #{filterCol},
			       REMARK = #{remark}
			 WHERE PHYSDBNAME = #{physDBName}
	</update>
	
	<delete id="deleteSynchPO" parameterType="string">
		DELETE FROM P#SYNCH_T_SETTING
 			WHERE PHYSDBNAME = #{physDBName}
	</delete>
	
	<select id="getAppSelect" resultType="map">
		select appname,appid from DICT_T_APPREGISTER
	</select>
	
	<select id="getSuitTree" resultType="map">
		select suitid,suitname,superid from DICT_T_SUIT where status='1' and appid=#{appId} order by orderid
	</select>
	
	<select id="getModelTableInfo" resultType="map">
		select 'false' ISCHECK,TABLEID,DBTABLENAME,NAME,(select dealname from DICT_T_DEALTYPE dealtype where dealtype.DEALID=model1.DEALTYPE) DEALNAME
		 from DICT_T_MODEL model1  where suitid=#{suitId} 
		 order by orderid
	</select>
	
	<select id="getGuidByPhysDBName" resultType="string">
		select guid from P#SYNCH_T_SETTING where status='1' and PHYSDBNAME=#{dbTableName}
	</select>
	
	<update id="oneButtonToSet" statementType="CALLABLE">
		<![CDATA[
		    {call DICT_SYNCHRONIZE_SET()}
		]]>
	</update>
</mapper>
